*

!*.md
!*.pdf
!*.sh
!Makefile

!.gitignore

## TLA+ files
!*.tla

## TLC model config and results
!*.cfg
# !*.out  ## Usually .out files are small

## Toolbox model metadata
!*.launch

## Toolbox spec metadata
!.project
!*.prefs

## quint specs
!*.qnt

## all folders
!*/

## TLAPS cache folder
## See https://github.com/tlaplus/tlapm/issues/16
__tlacache__
.tlacache

## Snapshots
*/*SnapShot*

_apalache-out

